In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import re


from functions import *

# EDA 1st Dataset (121K rows) global_electriciy_production

In [48]:
#load dataset 1        
df1 = pd.read_csv('./data/global_electricity_production_data.csv')     
df1.head()

,country_name,date,parameter,product,value,unit
0,Australia,12/1/2023,Net Electricity Production,Electricity,22646.1901,GWh
1,Australia,12/1/2023,Net Electricity Production,Total Combustible Fuels,13397.9356,GWh
2,Australia,12/1/2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",9768.5223,GWh
3,Australia,12/1/2023,Net Electricity Production,Oil and Petroleum Products,289.5415,GWh
4,Australia,12/1/2023,Net Electricity Production,Natural Gas,3091.9272,GWh

In [3]:
initial_data_checking(df1)

Shape of the DataFrame:

(121074, 6)

Duplicate Rows Number:

0

Summary Statistics:

              value
count  121060.00000
mean     6925.08149
std     34224.45546
min         0.00000
25%        41.19900
50%       470.41900
75%      2629.71275
max    865976.48280

In [4]:
unique_and_missing_values_dtype(df1)

,non-Null_count,dtype,unique_values,%_unique,missing_values,%_missing
country_name,121074,object,48,0.04%,0,0.0%
date,121074,object,168,0.14%,0,0.0%
parameter,121074,object,7,0.01%,0,0.0%
product,121074,object,16,0.01%,0,0.0%
value,121060,float64,101983,84.23%,14,0.01%
unit,121074,object,1,0.0%,0,0.0%

In [5]:
# separate categorical and numerical columns:
def separate_columns(df1):
    categorical_cols = df1[['country_name', 'date', 'parameter', 'product', 'unit']]
    numerical_cols = df1[['value']]
    
    print("\nCategorical Columns:\n")
    print(categorical_cols.head())  # Using head() to show the first few rows
    print("\nNumerical Columns:\n")
    print(numerical_cols.head())  # Using head() to show the first few rows
    
separate_columns(df1)

Categorical Columns:

  country_name       date                   parameter  \
0    Australia  12/1/2023  Net Electricity Production
1    Australia  12/1/2023  Net Electricity Production
2    Australia  12/1/2023  Net Electricity Production
3    Australia  12/1/2023  Net Electricity Production
4    Australia  12/1/2023  Net Electricity Production

                             product unit
0                        Electricity  GWh
1            Total Combustible Fuels  GWh
2  Coal, Peat and Manufactured Gases  GWh
3         Oil and Petroleum Products  GWh
4                        Natural Gas  GWh

Numerical Columns:

        value
0  22646.1901
1  13397.9356
2   9768.5223
3    289.5415
4   3091.9272

In [6]:
# analyze_categorical cols:
analyze_categorical(df1)

       country_name      date                   parameter      product    unit
count        121074    121074                      121074       121074  121074
unique           48       168                           7           16       1
top          France  3/1/2021  Net Electricity Production  Electricity     GWh
freq           3348       893                       93318        34930  121074

In [7]:
  # analyze_numerical cols:
analyze_numerical(df1)

Numerical Columns Analysis:

              value
count  121060.00000
mean     6925.08149
std     34224.45546
min         0.00000
25%        41.19900
50%       470.41900
75%      2629.71275
max    865976.48280

In [8]:
# Count missing values in the 'value' column of df1
missing_values_count = df1['value'].isna().sum()

# Print the number of missing values
print("Number of missing values in 'value' column:", missing_values_count)

Number of missing values in 'value' column: 14

In [9]:
#display missing data
missing_value_rows = df1[df1['value'].isna()]

# Print the rows with missing values in the 'value' column
missing_value_rows

,country_name,date,parameter,product,value,unit
67,Chile,12/1/2023,Remarks,Data is estimated for this month,NaN,GWh
94,Costa Rica,12/1/2023,Remarks,Data is estimated for this month,NaN,GWh
285,Japan,12/1/2023,Remarks,Data is estimated for this month,NaN,GWh
804,Costa Rica,11/1/2023,Remarks,Data is estimated for this month,NaN,GWh
1517,Costa Rica,10/1/2023,Remarks,Data is estimated for this month,NaN,GWh
2230,Costa Rica,9/1/2023,Remarks,Data is estimated for this month,NaN,GWh
2944,Costa Rica,8/1/2023,Remarks,Data is estimated for this month,NaN,GWh
3659,Costa Rica,7/1/2023,Remarks,Data is estimated for this month,NaN,GWh
4375,Costa Rica,6/1/2023,Remarks,Data is estimated for this month,NaN,GWh
5090,Costa Rica,5/1/2023,Remarks,Data is estimated for this month,NaN,GWh
5805,Costa Rica,4/1/2023,Remarks,Data is estimated for this month,NaN,GWh
6523,Costa Rica,3/1/2023,Remarks,Data is estimated for this month,NaN,GWh
7242,Costa Rica,2/1/2023,Remarks,Data is estimated for this month,NaN,GWh
7961,Costa Rica,1/1/2023,Remarks,Data is estimated for this month,NaN,GWh

In [10]:
countries  = df1['country_name'].unique()
countries

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Colombia',
       'Costa Rica', 'Czech Republic', 'Denmark', 'Estonia', 'Finland',
       'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
       'Italy', 'Japan', 'Korea', 'Latvia', 'Lithuania', 'Luxembourg',
       'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Turkey', 'United Kingdom', 'United States',
       'Argentina', 'Brazil', 'Bulgaria', 'China', 'Croatia', 'Cyprus',
       'India', 'Malta', 'North Macedonia', 'Peru', 'Serbia'],
      dtype=object)

In [11]:
# Check if 'date' column is in datetime format
if pd.api.types.is_datetime64_any_dtype(df1['date']):
    print("The 'date' column is already in datetime format.")
else:
    print("The 'date' column is not in datetime format.")

The 'date' column is not in datetime format.

In [12]:
parameter_counts = df1['parameter'].value_counts()
parameter_counts

parameter
Net Electricity Production        93318
Final Consumption (Calculated)     6036
Distribution Losses                6033
Total Exports                      5416
Total Imports                      5411
Used for pumped storage            4846
Remarks                              14
Name: count, dtype: int64

In [13]:
product_count = df1['product'].value_counts()
product_count

product
Electricity                                          34930
Total Combustible Fuels                               7188
Total Renewables (Hydro, Geo, Solar, Wind, Other)     7188
Hydro                                                 7070
Oil and Petroleum Products                            7066
Combustible Renewables                                7049
Wind                                                  7040
Natural Gas                                           6923
Solar                                                 6898
Coal, Peat and Manufactured Gases                     6525
Other Combustible Non-Renewables                      6147
Not Specified                                         5098
Nuclear                                               4814
Geothermal                                            4267
Other Renewables                                      2857
Data is estimated for this month                        14
Name: count, dtype: int64

In [14]:
unit_count = df1['unit'].value_counts()
unit_count

unit
GWh    121074
Name: count, dtype: int64

# Data cleaning main dataset

In [15]:
#format titles names 
format_column_titles(df1)

Index(['country_name', 'date', 'parameter', 'product', 'value', 'unit'], dtype='object')

In [27]:
#filter EU countries 
eu_countries = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden']

df_eu = df1.loc[df1['country_name'].isin(eu_countries)]

In [30]:
#drop rows with missing data 
df_cleaned = df_eu.dropna(axis=1)

In [31]:
#check cleaned date
unique_and_missing_values_dtype(df_cleaned)

,non-Null_count,dtype,unique_values,%_unique,missing_values,%_missing
country_name,71097,object,26,0.04%,0,0.0%
date,71097,object,168,0.24%,0,0.0%
parameter,71097,object,6,0.01%,0,0.0%
product,71097,object,15,0.02%,0,0.0%
value,71097,float64,61218,86.1%,0,0.0%
unit,71097,object,1,0.0%,0,0.0%

In [32]:
#make a copy (before year formatting)
df_main = df_cleaned.copy()

In [35]:
#format year
df_main["year"] = df_main["date"].apply(lambda x: int(x.split("/")[2]))
df_main.head()

,country_name,date,parameter,product,value,unit,year
13,Austria,12/1/2023,Net Electricity Production,Electricity,6783.2730,GWh,2023
14,Austria,12/1/2023,Net Electricity Production,Total Combustible Fuels,1746.9034,GWh,2023
15,Austria,12/1/2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",167.3548,GWh,2023
16,Austria,12/1/2023,Net Electricity Production,Oil and Petroleum Products,73.8682,GWh,2023
17,Austria,12/1/2023,Net Electricity Production,Natural Gas,1035.0865,GWh,2023

In [37]:
df_main = df_main.reset_index(drop=True)
df_main

,index,country_name,date,parameter,product,value,unit,year
0,13,Austria,12/1/2023,Net Electricity Production,Electricity,6783.2730,GWh,2023
1,14,Austria,12/1/2023,Net Electricity Production,Total Combustible Fuels,1746.9034,GWh,2023
2,15,Austria,12/1/2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",167.3548,GWh,2023
3,16,Austria,12/1/2023,Net Electricity Production,Oil and Petroleum Products,73.8682,GWh,2023
4,17,Austria,12/1/2023,Net Electricity Production,Natural Gas,1035.0865,GWh,2023
...,...,...,...,...,...,...,...,...
71092,120993,Sweden,1/1/2010,Total Imports,Electricity,1806.0000,GWh,2010
71093,120994,Sweden,1/1/2010,Total Exports,Electricity,266.6560,GWh,2010
71094,120995,Sweden,1/1/2010,Used for pumped storage,Electricity,16.1090,GWh,2010
71095,120996,Sweden,1/1/2010,Distribution Losses,Electricity,1091.0110,GWh,2010
71096,120997,Sweden,1/1/2010,Final Consumption (Calculated),Electricity,15170.7810,GWh,2010

In [ ]:
df_main = df_main.drop(columns=['index'])

In [41]:
df_main.head()

,country_name,date,parameter,product,value,unit,year
0,Austria,12/1/2023,Net Electricity Production,Electricity,6783.2730,GWh,2023
1,Austria,12/1/2023,Net Electricity Production,Total Combustible Fuels,1746.9034,GWh,2023
2,Austria,12/1/2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",167.3548,GWh,2023
3,Austria,12/1/2023,Net Electricity Production,Oil and Petroleum Products,73.8682,GWh,2023
4,Austria,12/1/2023,Net Electricity Production,Natural Gas,1035.0865,GWh,2023

In [44]:
df_main['value'] = df_main['value'].round()

In [45]:
df_main.head()

,country_name,date,parameter,product,value,unit,year
0,Austria,12/1/2023,Net Electricity Production,Electricity,6783.0,GWh,2023
1,Austria,12/1/2023,Net Electricity Production,Total Combustible Fuels,1747.0,GWh,2023
2,Austria,12/1/2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",167.0,GWh,2023
3,Austria,12/1/2023,Net Electricity Production,Oil and Petroleum Products,74.0,GWh,2023
4,Austria,12/1/2023,Net Electricity Production,Natural Gas,1035.0,GWh,2023

In [47]:
df_main['value'] = df_main['value'].astype(int)
df_main.head()

,country_name,date,parameter,product,value,unit,year
0,Austria,12/1/2023,Net Electricity Production,Electricity,6783,GWh,2023
1,Austria,12/1/2023,Net Electricity Production,Total Combustible Fuels,1747,GWh,2023
2,Austria,12/1/2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",167,GWh,2023
3,Austria,12/1/2023,Net Electricity Production,Oil and Petroleum Products,74,GWh,2023
4,Austria,12/1/2023,Net Electricity Production,Natural Gas,1035,GWh,2023